.container{
display: flex;
grid-gap: 30px;
justify-content: center;
}
.left,.right{

    flex:1;
    border: 1px solid grey;
}
.colorIcon{
    height: 30px;
    width:30px;
    border-radius: 50px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
